In [276]:
import pandas as pd
import os

names_folder_path = 'C:\\Users\\Admin\\names'

In [277]:
def count_top3_names(years):
    frames = []
    for year in years:
        names = pd.read_csv(
            os.path.join(names_folder_path, 'yob' + str(year) + '.txt'),
            names = ['Name', 'Gender', 'Count']
        ) 
        frames.append(names)
        
    all_years = pd.concat(frames)
    all_years_sum = all_years.groupby(['Name']).sum()
    return all_years_sum.sort_values(by=['Count'], ascending=False).head(3)

In [278]:
count_top3_names([1991, 1992, 1993])

              Count
Name
Michael      165469
Christopher  128187
Ashley       117263

In [279]:
def print_dynamic(years):
    frames = []
    for year in years:
        names = pd.read_csv(
            os.path.join(names_folder_path, 'yob' + str(year) + '.txt'),
            names = ['Name', 'Gender', 'Count']
        )
        names = names.groupby(['Gender']).sum()
        frames.append(names)
        
    all_years = pd.concat(frames, axis=1)
    return all_years

In [280]:
print_dynamic([1900, 1901, 1902])

         Count   Count   Count
Gender
F       299810  239347  264076
M       150486  106470  122659